tr {
    height: 75px;
}

td.double-height {
    height: 150px;
}

td.triple-height {
    height: 225px;
}

td.disabled {
    background-image: url('/static/inventory/img/hatched.svg');
}

.compartments {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100px;
    min-height: 75px;
}

.compartments-vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100px;
    min-height: 75px;
}

.cell {
    flex-grow: 1;
    display: inline-block;
    position: relative;

}

.cell:nth-child(2n) {
    background-color: #f8f8f8;
}

.title {
    display: inline;
}

.cell .package {
    position: absolute;
    display: inline;
    top: 5px;
    right: 5px;
    font-size: xx-small;
    color: #808080;
}

.cell .price {
    position: absolute;
    display: inline;
    bottom: 5px;
    left: 5px;
    font-size: xx-small;
    color: #808080;
}

.cell .shop {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    opacity: 0.75;
}

.cell .form_factor {
    position: absolute;
    display: inline;
    top: 5px;
    right: 5px;
    font-size: xx-small;
    color: #808080;
}

.cell a {
    color: #000000;
    text-decoration: none;
}

.missing-link {
    color: #c00000;
}

.cell-buttons {
    visibility: hidden;
}

.cell:hover .cell-buttons {
    visibility: visible;
}

.dock-top {
    margin-top: -1px;
}