tr {
    height: 75px;
}

td.double-height {
    height: 150px;
}

td.triple-height {
    height: 225px;
}

td.disabled {
    background-image: url('/static/inventory/img/hatched.svg');
}

.compartments {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 60px;
    min-height: 75px;
}

.compartments-vertical {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 60px;
    min-height: 75px;
}

.cell {
    flex-grow: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.search-hilight {
    background-color: #ffa0a0 !important;
}

.cell:nth-child(2n) {
    background-color: #f8f8f8;
}

.cell .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    bottom: 5px;
}

.cell .package {
    position: absolute;
    display: inline;
    top: 5px;
    right: 5px;
    font-size: xx-small;
    color: #808080;
}

.cell .price {
    position: absolute;
    display: inline;
    bottom: 5px;
    left: 5px;
    font-size: xx-small;
    color: #808080;
}

.cell .shop {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 12px;
    height: 12px;
    opacity: 0.75;
}

.cell .stock {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline;
    font-size: xx-small;
    color: #808080;
    line-height: 10px;
}

.cell .stock .icon {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px 0 0;
    vertical-align: text-top;
}

.cell .form_factor {
    position: absolute;
    display: inline;
    top: 5px;
    right: 5px;
    font-size: xx-small;
    color: #808080;
}

.cell a {
    color: #000000;
    text-decoration: none;
}

.cell .icon {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.cell a.missing-link {
    color: #c00000;
}

.cell-buttons {
    visibility: hidden;
    position: absolute;
    display: block;
    clip: unset;
    background-color: #292981;
    color: #ffffff;
    width: 240px;
    height: 80px;
    z-index: 1000;
    top: 100%;
    left: 0;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
}

.cell-buttons .icon {
    filter: invert();
}

.hilight {
    color: #ffffff !important;
    background-color: #292981 !important;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    z-index: 900;
}

.hilight a {
    color: #ffffff !important;
}

.dock-top {
    margin-top: -1px;
}

@media (max-width: 1024px) {
    .cell .form_factor {
        font-size: 75%;
        top: 3px;
        right: 7px;
    }

    .cell .stock {
        font-size: 75%;
        top: 3px;
        left: 3px;
    }

    .cell .price {
        font-size: 75%;
        bottom: 3px;
        left: 3px;
    }

    .cell .shop {
        bottom: 3px;
        right: 7px;
        width: 10px;
        height: 10px;
    }
    
}