body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

table.attribute-list {
    border-collapse: collapse;
    table-layout: fixed;
}

table.attribute-list td {
    border-color: #808080;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

table.attribute-list th {
    text-align: left;
    font-weight: 800;
    padding: 10px;

    border-color: #808080;
    border-width: 1px;
    border-style: solid;
}

table.box {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}


table.box td {
    text-align: center;

    border-color: #d0d0d0;
    border-width: 1px;
    border-style: solid;
    position: relative;
}

table.box th {
    text-align: center;
    font-weight: 800;
    padding: 20px;

    border-color: #808080;
    border-width: 1px;
    border-style: solid;
}

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #292981;
    color: #ffffff;
    padding: 20px;
}

nav form {
    display: inline-block;
    margin: 0;
}

nav button {
    border: 1px solid #e0e0e0;
    background-color: #333381;
    color: #ffffff;
    padding: 8px 10px 8px 10px;
}

nav .icon-only-button {
    border: none;
    background-color: transparent;
}

h1 {
    margin-top: 20px;
}

h1 .small {
    font-size: 12pt;
    font-weight: normal;
    color: #808080;
}

h2 .small {
    font-size: 12pt;
    font-weight: normal;
}

nav h2 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    width: auto;
}

nav h2 .small {
    color: #c0c0c0;
}

nav .icon {
    filter: invert();
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    text-indent: 0;
    margin: 0;
    padding: 0 10px 0 0;
}

nav .spacer {
    flex-grow: 2;
}

main {
    margin: auto;
    padding: 20px;
}

@media (max-width: 1024px) {
    body {
        font-size: 12px;
    }
}

.icon {
    display: inline-block;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
}

h2 .icon {
    width: 25px;
    height: 25px;
    top: 3px;
}

ul.nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 30%;
    margin: 0;
    padding: 0;
}

ul.nav-list li {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: -1px;
    padding: 10px;
    text-indent: 0;
    list-style-type: none;
}
