{% extends "inventory/box-detail.html" %}
{% load static %}
{% load admin_urls %}

{% block content %}
    <table class="box">
        <tbody>
            {% for line in layouted|slice:"0:3" %}
            <tr>
                {% for item in line %}
                    <td class="double-height">
                        <div class="compartments">
                        {% for compartment in item %}
                            {% include "inventory/cell.html" with item=compartment hilight=hilight settings=settings %}
                        {% endfor %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="box dock-top">
        <tbody>
            <tr>
                {% for item in layouted.3 %}
                    <td class="double-height">
                        <div class="compartments">
                        {% for compartment in item %}
                            {% include "inventory/cell.html" with item=compartment hilight=hilight settings=settings %}
                        {% endfor %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table class="box dock-top">
        <tbody>
            <tr>
                {% for item in layouted.4 %}
                    <td class="double-height">
                        <div class="compartments">
                        {% for compartment in item %}
                            {% include "inventory/cell.html" with item=compartment hilight=hilight settings=settings %}
                        {% endfor %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
