{% extends "inventory/box-detail.html" %}
{% load static %}
{% load admin_urls %}

{% block content %}
    {% for part in layouted %}
    <table class="box">
        <thead>
            <tr>
                <th></th>
                {% for item in part.0 %}
                    <th>{{ forloop.counter }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in part %}
            <tr>
                <th>{{ forloop.counter }}</th>
                {% for item in line %}
                    <td>
                        <div class="compartments">
                            {% for compartment in item %}
                                {% include "inventory/cell.html" with item=compartment hilight=hilight settings=settings %}
                            {% endfor %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    {% endfor %}
{% endblock %}
