{% extends "base.html" %}
{% load static %}
{% load admin_urls %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "inventory/css/cell.css" %}">
{% endblock %}

{% block title %}{{ object.name }}{% endblock %}

{% block header_bar %}
    <a href="{{ object.container_url }}"><img class="icon" src="{% static "inventory/img/back.svg" %}"></a>
    {{ object.name }}
    <span class="small">{{ object.description}}</span></h2>
{% endblock %}

{% block content %}
    {% for part in layouted %}
    <table class="box">
        <thead>
            <tr>
                <th></th>
                {% for item in part.0 %}
                    <th>{{ forloop.counter }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for line in part %}
            <tr>
                <th>{{ forloop.counter }}</th>
                {% for item in line %}
                    <td>
                        <div class="compartments">
                            {% for compartment in item %}
                                {% include "inventory/cell.html" with item=compartment %}
                            {% endfor %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    {% endfor %}
{% endblock %}
