{% extends "inventory/box-detail.html" %}
{% load static %}
{% load admin_urls %}

{% block content %}
    <table class="box">
        <tbody>
            {% for line in layouted %}
            <tr>
                {% for item in line %}
                    <td>
                        <div class="compartments">
                        {% for compartment in item %}
                            {% include "inventory/cell.html" with item=compartment %}
                        {% endfor %}
                        </div>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
