{% extends "base.html" %}
{% load static %}

{% block title %}Workshops{% endblock %}

{% block content %}
    <h2>Workshops</h2>
    <ul>
        {% for workshop in object_list %}
            <li>
                <a href="{% url 'workshop-detail' workshop.id %}" title="{{ workshop.description }}">{{ workshop.name }}</a>
                <a class="edit" href="{% url "admin:inventory_workshop_change" object_id=workshop.pk %}"><img class="icon" src="{% static "inventory/img/edit.svg" %}"></a>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{% url "admin:inventory_workshop_add" %}?layout=1">Create new workshop</a></p>

{% endblock %}